<div
  class="centerHorizontal scroll contentContainer"
>

  <ng-container *ngIf="message">
    <h2 class="infoDesk centerHorizontal">
      {{message}}
    </h2>
  </ng-container>

  <div>

    <input
      title="hidden input for file uploading"
      class="dn"
      type="file"
      multiple
      (change)="loadFile($event)"
      #fileInput
    />

    <button
      class="col-sm-6"
      title="button to click input file"
      [backGround]="'green'"
      appButtonStyle
      (click)="clickInputFile($event)"
    >
      choose file
    </button>

    <button
      class="col-sm-6"
      title="button to reset input file"
      [backGround]="'orange'"
      appButtonStyle
      (click)="resetEditor($event)"
    >
      reset
    </button>
  </div>

  <ng-container *ngIf="loading">
    <h3>завантажуємо, зачекайте ...</h3>
  </ng-container>

  <ng-container *ngIf="mediaSrc">

    <ng-container *ngIf="showBeforeVideo">
      <h3>... ще трішки ...</h3>
    </ng-container>

    <video class="centerHorizontal" controls width="100%" #video>
      <source
        [src]="mediaSrc"
        type="video/mp4"
      />
    </video>

  </ng-container>

  <form
    [formGroup]="messageForm"
    (ngSubmit)="onSubmit(messageForm.value)"
  >
    <mat-form-field class="col-sm-12">
      <mat-label>caption</mat-label>
      <textarea
        matInput
        cols="30"
        rows="5"
        type="text"
        formControlName="caption"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field class="col-sm-4">
      <mat-label>parse_mode</mat-label>
      <mat-select
        formControlName="parse_mode"
      >
        <mat-option value="HTML">HTML</mat-option>
        <mat-option value="MarkdownV2">MarkdownV2</mat-option>
        <mat-option value="Markdown">Markdown</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-4">
      <mat-label>chat_id</mat-label>
      <input
        matInput
        type="text"
        formControlName="chat_id"
      />
    </mat-form-field>

    <mat-form-field class="col-sm-4">
      <mat-label>reply_to_message_id</mat-label>
      <input
        matInput
        type="text"
        formControlName="reply_to_message_id"
      />
    </mat-form-field>

    <mat-form-field class="col-sm-3">
      <mat-label>disable_notification</mat-label>
      <mat-select
        formControlName="disable_notification"
      >
        <mat-option [value] = true>дозволити</mat-option>
        <mat-option [value] = false>заборонити</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-3">
      <mat-label>protect_content</mat-label>
      <mat-select
        formControlName="protect_content"
      >
        <mat-option [value] = true>дозволити</mat-option>
        <mat-option [value] = false>заборонити</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-3">
      <mat-label>allow_sending_without_reply</mat-label>
      <mat-select
        formControlName="allow_sending_without_reply"
      >
        <mat-option [value] = true>дозволити</mat-option>
        <mat-option [value] = false>заборонити</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-3">
      <mat-label>supports_streaming</mat-label>
      <mat-select
        formControlName="supports_streaming"
      >
        <mat-option [value] = true>дозволити</mat-option>
        <mat-option [value] = false>заборонити</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-label>reply_markup</mat-label>
      <textarea
        matInput
        cols="30"
        rows="2"
        type="text"
        formControlName="reply_markup"
      >
      </textarea>
    </mat-form-field>

    <button
      class="col-sm-6"
      [backGround]="'gray'"
      appButtonStyle
      (click)="closeEditor()"
    >
      cancel
    </button>

    <button
      class="col-sm-6"
      type="submit"
      [disabled]="messageForm.invalid || submitted"
      [backGround]="'green'"
      appButtonStyle
    >
      send message
    </button>
  </form>

</div>

